@font-face {
    font-family: Arkipelago;
    src: url(Fonts/Arkipelago.otf) format(truetype);
}

@font-face {
    font-family: Redemption;
    src: url(Fonts/Redemption.ttf) format(truetype);
}

@font-face {
    font-family: Halogen;
    src: url(Fonts/Halogen.ttf) format(truetype);
}

body {
    color: rgb(253, 253, 253);
    background-color: rgb(8, 8, 8);
    font-family: Halogen;
}

header {
    font-family: Redemption;
    align-self: center;
    text-align: center;
    font-size: 35px;
}


ul{
  align-self: center;
  align-content: center;
  text-align: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

li{
  padding-top: 20px;
}

li::marker{
  visibility: hidden;
  font-weight: bold;
}


.articlecontent{
  margin: 10px;
  transition: 1s;
}
.articlecontent:hover{
  transform: scale(1);
}


.customCheckBoxHolder {
  margin: auto;
  display: flex;
  position: center;
  align-self: center;
  align-content: center;
  display: flex;
  justify-content: center;
}

.customCheckBox {
  width: fit-content;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  padding: 2px 8px;
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 0px;
  color: rgba(255, 255, 255, 0.7);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: color, background-color, box-shadow;
  display: flex;
  height: 32px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
  outline: none;
  justify-content: center;
  min-width: 55px;
  font-family: Arkipelago;
}

.customCheckBox:hover {
  background-color: #2c2c2c;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBox .inner {
  font-size: 21px;
  font-weight: normal;
  /*font-weight: 900;*/
  pointer-events: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: transform;
  transform: translateY(0px);
}

.customCheckBox:hover .inner {
  transform: translateY(-2px);
}

.customCheckBoxWrapper:first-of-type .customCheckBox {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-right: 0px;
}

.customCheckBoxWrapper:last-of-type .customCheckBox {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 0px;
}

.customCheckBoxInput {
  display: none;
}

.customCheckBoxInput:checked+.customCheckBoxWrapper .customCheckBox {
  background-color: #2d6737;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBoxInput:checked+.customCheckBoxWrapper .customCheckBox .inner {
  transform: translateY(-2px);
}

.customCheckBoxInput:checked+.customCheckBoxWrapper .customCheckBox:hover {
  background-color: #34723f;
  box-shadow: rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.15) 0px 3px 6px 2px;
}

.customCheckBoxWrapper .customCheckBox:hover .inner {
  transform: translateY(-2px);
}


/*
table img {
  vertical-align: middle;
  border-radius: 25px;
  border-style: solid;
  border-color: rgb(8, 8, 8);
  border-width: 5px;
  transition: 1s;
  height: 225px;
}
*/


  
  /*
  table img:hover {
    border-color: white;
  }
    */
  

  @keyframes towhiteborder {
    from {
      border-color: rgb(8, 8, 8);
    }
  
    to {
      border-color: white;
    }
  }
  
  .footerstyle {
    color: rgb(30, 30, 30);
  }
  
  .footerstyled {
    color: rgb(69, 69, 69);
    margin: auto;
    width: 500px;
    font-family: "Poppins", sans-serif;
  }
  
  .btn-shine {
    position: relative;
    transform: translate(50%, 50%);
    padding: 12px 48px;
    color: #fff;
    background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
  }
  
  @-moz-keyframes shine {
    0% {
      background-position: 0;
    }
  
    60% {
      background-position: 180px;
    }
  
    100% {
      background-position: 180px;
    }
  }
  
  @-webkit-keyframes shine {
    0% {
      background-position: 0;
    }
  
    60% {
      background-position: 180px;
    }
  
    100% {
      background-position: 180px;
    }
  }
  
  @-o-keyframes shine {
    0% {
      background-position: 0;
    }
  
    60% {
      background-position: 180px;
    }
  
    100% {
      background-position: 180px;
    }
  }
  
  @keyframes shine {
    0% {
      background-position: 0;
    }
  
    60% {
      background-position: 180px;
    }
  
    100% {
      background-position: 180px;
    }
  }


.contenedor-galeria {
    display: grid;
    place-items: center;
    width: 150px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 400px;
}

.contenedor-imagen {
    position: relative;
    left: 0;
    width: 80px;
    border-radius: 5px;
    height: 150px;
    overflow: hidden;
    background-color: #efefef;
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgb(0, 0, 0, 0.5);
    flex: 0.25;
}

.contenedor-imagen img {
    height: 150px;
    width: 100px;
    object-fit: cover;
}

.contenedor-imagen:hover {
    flex: 2;
    cursor: pointer;
    border-radius: 8px;
}