@font-face {
  font-family: Arkipelago;
  src: url(Fonts/Arkipelago.otf) format(truetype);
}

@font-face {
  font-family: Redemption;
  src: url(Fonts/Redemption.ttf) format(truetype);
}

@font-face {
  font-family: Halogen;
  src: url(Fonts/Halogen.ttf) format(truetype);
}

body {
  color: rgb(253, 253, 253);
  background-color: rgb(8, 8, 8);
  font-family: Halogen;
}

header{
  font-family: Redemption;
  align-self: center;
  text-align: center;
  font-size: 35px;
}

.customCheckBoxHolder {
  margin: auto;
  display: flex;
  position: center;
  align-self: center;
  align-content: center;
  display: flex;
  justify-content: center;
}

.customCheckBox {
  width: fit-content;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  padding: 2px 8px;
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 0px;
  color: rgba(255, 255, 255, 0.7);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: color, background-color, box-shadow;
  display: flex;
  height: 32px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
  outline: none;
  justify-content: center;
  min-width: 55px;
  font-family: Arkipelago;
}

.customCheckBox:hover {
  background-color: #2c2c2c;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBox .inner {
  font-size: 21px;
  font-weight: normal;
  /*font-weight: 900;*/
  pointer-events: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: transform;
  transform: translateY(0px);
}

.customCheckBox:hover .inner {
  transform: translateY(-2px);
}

.customCheckBoxWrapper:first-of-type .customCheckBox {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-right: 0px;
}

.customCheckBoxWrapper:last-of-type .customCheckBox {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 0px;
}

.customCheckBoxInput {
  display: none;
}

.customCheckBoxInput:checked+.customCheckBoxWrapper .customCheckBox {
  background-color: #2d6737;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBoxInput:checked+.customCheckBoxWrapper .customCheckBox .inner {
  transform: translateY(-2px);
}

.customCheckBoxInput:checked+.customCheckBoxWrapper .customCheckBox:hover {
  background-color: #34723f;
  box-shadow: rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.15) 0px 3px 6px 2px;
}

.customCheckBoxWrapper .customCheckBox:hover .inner {
  transform: translateY(-2px);
}


.buquete {
  text-align: center
}

table {
  font-size: 18px;
  text-align: left;
  vertical-align: middle;
  width: 200px;
  height: 300px;
  margin: auto;
  border-spacing: 15px;
  border: 0;
}

table p{
  width: 100px;
}

tbody{
  font-size: 18px;
  text-align: left;
  vertical-align: middle;
  width: 200px;
  height: 300px;
  margin: auto;
  border-spacing: 15px;
  border: 0;
}

.colleft{
  text-align: right;
}

/*
table img {
  vertical-align: middle;
  border-radius: 25px;
  border-style: solid;
  border-color: rgb(8, 8, 8);
  border-width: 5px;
  transition: 1s;
  height: 225px;
}
*/

table a{
  vertical-align: top;
}

/*
table img:hover {
  border-color: white;
}
  */

.item {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 200px;
  margin: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  border-color: rgb(8, 8, 8);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: 1s;
}

.item:hover{
  border-color: rgb(207, 207, 207)
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

.item img:hover {
  transform: scale(1.2);
}

@keyframes towhiteborder {
  from {
    border-color: rgb(8, 8, 8);
  }

  to {
    border-color: white;
  }
}

.footerstyle {
  color: rgb(30, 30, 30);
}

.footerstyled {
  color: rgb(69, 69, 69);
  margin: auto;
  width: 500px;
  font-family: "Poppins", sans-serif;
}

.btn-shine {
  position: relative;
  transform: translate(50%, 50%);
  padding: 12px 48px;
  color: #fff;
  background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
}

@-moz-keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 180px;
  }

  100% {
    background-position: 180px;
  }
}

@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 180px;
  }

  100% {
    background-position: 180px;
  }
}

@-o-keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 180px;
  }

  100% {
    background-position: 180px;
  }
}

@keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 180px;
  }

  100% {
    background-position: 180px;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
h1 {
  color: coral;
}
.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
  div {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px black;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    transition: all .25s ease-in-out;
    &:hover img {
      filter: grayscale(0);
    }
    &:hover {
      border-color: coral;
    }
    img {
      width: 100%;
      filter: grayscale(100%);
      border-radius: 5px;
      transition: all .25s ease-in-out;
    }
    p {
      margin: 5px 0;
      padding: 0;
      text-align: center;
      font-style: italic;
    }
  }
}